In [1]:
import pandas as pd

In [2]:
dtypes = {
    "int":'int',
    "Int64":'Int64',
    "string":'str',
    "float":'float',
    "bool":'bool',
    "boolean":'boolean'
}

df = pd.read_csv('datatypes_na.csv', 
                 encoding='utf-8', 
                 sep=',', 
                 dtype=dtypes,
                 true_values=['TRUE'],
                false_values=['FALSE'])

df

   integer  Int64 string  float   bool  boolean
0        1      1    one    1.0   True     True
1        2      2    two    NaN   True     True
2        3      3    NaN    3.0   True     <NA>
3        4   <NA>   four    4.0   True     True
4        5      5   five    NaN  False    False
5        6      6    NaN    5.0  False    False
6        7   <NA>  seven    6.0  False     <NA>
7        8      8  eight    7.0  False    False

In [3]:
df.dtypes

integer      int64
Int64        Int64
string      object
float      float64
bool          bool
boolean    boolean
dtype: object

In [4]:
df.loc[5,'string'].__class__

float

In [5]:
df.loc[3,'Int64'].__class__

pandas._libs.missing.NAType